.container-fluid {
  padding: 3% 15% 7%;
}

body {
  font-family: "Montserrat-black";
  text-align: center;

}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}

#title {

  text-align: left;
}

.colored {
  background-color: #000;
  color: white;
}

.ncolored {
  background-color: #fff;
}

/* heading */
.bighead {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* navigation bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-light";
  font-size: 1.2rem;
}

/* download button */
.d-button {
  margin: 5% 3% 5% 0;
}

/* tittle image  */
.tittle-image {
  width: 40%;
  position: absolute;
}

/* Icons */
.ease {
  font-family: "Montserrat-Bold";
  font-size: 1.5em;
}

.b-row {
  padding: 5% 8%;
}


.b-text {
  color: #8f8f8f;
}

/* feature */
#features {
  position: relative;
  background-color: white;
  padding: 3% 15% 7%;
}

.features-c {
  width: 80%;
  margin-right: 20%;
}

.feature-text {
  font-family: "Josefin Sans";
  color: #fac036;
  -webkit-text-stroke: 1px black;
  font-size: 54px;
  line-height: 64px;
  margin-top: 120px;
  font-weight: 700;
  box-sizing: border-box;
}

/* testimonials */
#testimonials {
  background-color: #000;
  color: #f9bc39;
  padding-right: 5%;
}

.testimonials-image {
  width: 70%;
  margin-left: 30%;
}

.testimonials-text {
  text-align: left;
  position: relative;
  top: 200px;

}

.testi-head {
  font-size: 3rem;
}

.para {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 2%;
}

/* press */
#press {
  background-color: #000;
  padding-bottom: 3%;

}

.logo-Press {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Clients  */
#Clients {
  padding: 100px;
}

.Clients-p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #ff8a00;
}

.clients-logo {
  width: 50%;
  margin-top: 5%;
}

@media (max-width:1000px) {
  .tittle-image {
    position: static;
    width: 60%;
  }


  #title {
    text-align: center;
  }
  .testimonials-image{
    text-align: center;
  }
  .bighead {
    font-size: 2rem;
    line-height: 1.5;
  }

  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  .testi-head {
    font-size: 2rem;
    left: 80px;
  }
  .testimonials-text {
    text-align: center;
    top: auto;

  }
  .para{
    left: 20px;
  }
  .feature-text{
    font-size: 2.5rem;
    line-height: 1.5;
  }

}

/* cta */
.cta-text {
  margin: 3%;
}

/* footer */
#footer {
  padding: 3%;
}
